@import 'theme.scss';

.table-wrapper {
  border-radius: 8px;
  border: 1px solid $surface-container;
  padding: 8px;

  table {
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;

    th:nth-child(1) {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    th:nth-last-child(1) {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    thead {
      border-radius: 8px;
      border-bottom: 4px solid $surface;
      color: $neutral-inverse;

      background-color: $surface-container;
      transition: background-color 0.1s ease-in-out;

      th {
        position: relative;
        padding: 8px 12px;

        text-align: left;
        font-size: 14px;
        font-weight: 600;

        &:hover .sortable sec-icon {
          opacity: 1;
        }

        .sortable {
          cursor: pointer;

          sec-icon {
            opacity: 0;

            transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
            transform: rotate(-90deg);

            &:hover, &.active {
              opacity: 1;
            }

            &.inverted {
              transform: rotate(90deg);
            }
          }
        }
      }
    }

    tbody {
      tr {
        height: 40px;
        color: $neutral-inverse;
        transition: background-color 0.1s ease-in-out;

        &:hover {
          background: color-mix(in srgb, $surface-container 25%, transparent);
        }

        span {
          font-size: 12px;
          font-weight: 400;
        }

        th {
          padding: 8px 12px;
          text-align: left;

          &.actions {
            float: right;
          }
        }
      }
    }
  }
}
