<div class="standard-surface-container">

  <div class="space-between">
    <h3>{{ "settings.theme.title" | translate }}</h3>
    <sec-switch [control]="darkMode" [iconOff]="'light_mode'" [iconOn]="'dark_mode'"></sec-switch>
  </div>

  <div class="themes-container">
    <ng-container *ngFor="let theme of themes">
        <span class="theme" [class.active]="theme.name === themeService.theme"
              [style.background-color]="theme.primary"
              (click)="setTheme(theme.name)">
          <sec-icon [name]="'check'" [size]="20"></sec-icon>
        </span>
    </ng-container>
  </div>
</div>
