@import 'theme.scss';
@import 'animations.scss';

.icon-button {
  border: 0;
  border-radius: 50%;

  cursor: pointer;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

  /* Sizes */

  &.tiny {
    width: 32px;
    height: 32px;
  }

  &.small {
    width: 40px;
    height: 40px;
  }

  &.normal {
    width: 48px;
    height: 48px;
  }

  /* Styles */

  &.tonal {
    background: none;
    color: $primary;

    &.hover:hover {
      background: $surface-container;
    }

    &.active {
      background: $surface-container;
      font-variation-settings: 'FILL' 1;
      animation: fillIconIn 0.2s linear;
    }
  }

  &.filled {
    background: color-mix(in srgb, $primary-container 75%, transparent);
    color: $white;

    &.hover:hover {
      background: color-mix(in srgb, $primary-container 100%, transparent);
    }

    &.active {
      font-variation-settings: 'FILL' 1;
      animation: fillIconIn 0.2s linear;
    }
  }
}
