<div class="column-container surface-container gap">
  <h3>{{ "settings.password.title" | translate }}</h3>

  <form class="column-container gap">
    <sec-text-input [style.flex]="40"
                    [control]="getControl('password')"
                    [id]="'new-password'"
                    [name]="'new-password'"
                    [type]="'password'"
                    [placeholder]="'settings.password.newPassword' | translate"
                    [password]="true"
                    [autocomplete]="'new-password'"
                    [style]="'tonal'">
    </sec-text-input>

    <sec-text-input [style.flex]="40"
                    [control]="getControl('passwordRepeat')"
                    [id]="'repeat-password'"
                    [name]="'repeat-password'"
                    [type]="'password'"
                    [placeholder]="'settings.password.repeatPassword' | translate"
                    [password]="true"
                    [autocomplete]="'new-password'"
                    [style]="'tonal'">
    </sec-text-input>
  </form>

  <div class="row-container gap end">
    <sec-button [class.flex]="isMobile"
                [text]="'common.reset' | translate"
                [size]="'small'"
                [style]="'outlined'"
                [width]="isMobile ? '100%' : '96px'"
                (click)="buildForm()">
    </sec-button>

    <sec-button [class.flex]="isMobile"
                [text]="'common.save' | translate"
                [size]="'small'"
                [style]="'filled'"
                [width]="isMobile ? '100%' : '96px'"
                [disabled]="!isValid()"
                (click)="updatePassword()">
    </sec-button>
  </div>
</div>
