@import 'theme.scss';
@import 'animations.scss';

.navigation-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  padding: 8px 16px;

  border: 0;
  background: none;

  sec-icon {
    border-radius: 25px;
    padding: 2px 20px;

    color: $neutral;

    transition: background-color 0.1s ease-in-out;
  }

  span {
    color: $neutral;

    font-size: 12px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

    margin: 0 4px;

    transition: color 0.1s ease-in-out, text-shadow 0.1s ease-in-out;
  }

  &:hover {
    cursor: pointer;

    sec-icon {
      background: $surface-container;

      font-variation-settings: 'FILL' 1;
      animation: fillIconIn 0.2s linear;
    }

    span {
      text-shadow: 0 0 0.5px $primary;
    }
  }

  &.active {
    sec-icon {
      background: $primary;
      color: $white;

      font-variation-settings: 'FILL' 1;
      animation: fillIconIn 0.2s ease-in-out;
    }

    span {
      color: $primary;
      text-shadow: 0 0 0.5px $primary;
    }
  }

  &.mobile {
    padding: 4px 12px;

    span {
      font-size: 10px;
    }
  }
}
