@import 'theme.scss';

.segmented-button {
  border: 1px solid color-mix(in srgb, $primary 25%, transparent);

  &:first-child {
    overflow: hidden;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  &:last-child {
    overflow: hidden;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .segment {
    flex: 100;

    height: 30px;
    padding: 4px 16px;
    font-size: 12px;

    color: $primary;

    cursor: pointer;
    transition: background-color 0.1s ease-in-out, width 0.1s ease-in-out;

    &.border {
      border-left: 1px solid color-mix(in srgb, $primary 25%, transparent);
    }

    span {
      transition: font-weight 0.1s ease-in-out;
    }

    &:hover {
      background: color-mix(in srgb, $primary 10%, transparent);
    }

    &.active {
      background: $surface-container;
      font-weight: 600;
    }
  }
}
