<div class="list-wrapper">
  <div class="column-container gap">
    <ng-container *ngFor="let row of _data.content">
      <div class="list-entry row-container space-between" (click)="onActionActive(row.id)">
        <div class="column-container gap-small">
          <span class="first-line">{{ getLine(row, entry.firstLine) }}</span>
          <span class="second-line">{{ getLine(row, entry.secondLine) }}</span>
        </div>

        <div class="row-container gap-small">
          <sec-icon-button [icon]="'arrow_forward'" [size]="'small'" [style]="'filled'" [hover]="false"></sec-icon-button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
