<div class="list-wrapper">
  <div class="column-container gap">
    <ng-container *ngFor="let row of _data.content">
      <div class="list-entry row-container space-between">
        <div class="row-container gap">
          <div *ngIf="entry.icon" class="icon">
            <sec-icon [name]="entry.icon" [size]="20"></sec-icon>
          </div>

          <div class="column-container gap-small">
            <span class="first-line">{{ getLine(row, entry.firstLine) }}</span>
            <span class="second-line">{{ getLine(row, entry.secondLine) }}</span>
          </div>
        </div>

        <div class="row-container gap-small">
          <sec-icon-button [icon]="'arrow_forward'"
                           [style]="'filled'"
                           (click)="onActionActive(row.id)">
          </sec-icon-button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
