@import 'theme.scss';

.list-wrapper {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid $surface-container;

  .list-entry {
    padding: 16px;
    border-radius: 8px;
    background-color: $surface-container;

    &:hover {
      cursor: pointer;
      background-color: color-mix(in srgb, $secondary-container 15%, transparent);
    }

    .icon {
      width: 24px;
      height: 24px;
      padding: 8px;

      border-radius: 100%;
      background-color: $secondary-container;
      color: $white;

      sec-icon {
        margin: -2px 0 0 2px;
      }
    }

    .second-line {
      font-size: 12px;
    }
  }
}
