<div class="column-container gap" @fadeInAnimation>
  <div class="{{isMobile ? 'column-container' : 'row-container space-between'}}">
    <h2 class="title">{{ "settings.title" | translate }}</h2>
    <sec-segmented-button [segments]="settingsSegments" (segmentChange)="onSettingsChange($event)">
    </sec-segmented-button>
  </div>

  <sec-settings-user *ngIf="activeSegment.value == 'USER'" [user]="user" @fadeInAnimation></sec-settings-user>
  <sec-settings-admin *ngIf="activeSegment.value == 'ADMIN'" @fadeInAnimation></sec-settings-admin>
</div>
