<div class="column-container gap" @fadeInAnimation>
  <div class="{{isMobile ? 'column-container' : 'row-container space-between'}}">
    <h2 class="title">{{ "users.title" | translate }}</h2>

    <sec-text-input
      [control]="getControl('search')"
      [placeholder]="'common.search' | translate"
      [placeholderShrink]="false"
      [icon]="'search'"
      [width]="isMobile ? '100%' : '256px'"
      [style]="'tonal'">
    </sec-text-input>
  </div>

  <sec-users-list *ngIf="isMobile" [filters]="filters"></sec-users-list>
  <sec-users-table *ngIf="!isMobile" [filters]="filters"></sec-users-table>
</div>
