@import 'theme.scss';
@import 'animations.scss';

.navigation-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  padding: 16px;

  border: 0;
  background: none;

  sec-icon {
    border-radius: 25px;
    padding: 2px 20px;

    color: $neutral;

    transition: background-color, 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  span {
    color: $neutral;

    font-size: 12px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

    margin: 0 4px;

    transition: font-weight 0.2s ease-in-out;
  }

  &:hover {
    cursor: pointer;

    sec-icon {
      background: rgba($neutral, 0.1);

      font-variation-settings: 'FILL' 1;
      animation: fillIconIn 0.2s linear;
    }

    span {
      font-weight: 500;
      text-align: center;
    }
  }

  &.active {
    sec-icon {
      background: $secondary-container;
      color: $white;

      font-variation-settings: 'FILL' 1;
      animation: fillIconIn 0.2s ease-in-out;
    }

    span {
      color: $secondary-container;
      font-weight: 500;
    }
  }
}
