@keyframes fillIconIn {
  from {
    font-variation-settings: 'FILL' 0;
  }

  to {
    font-variation-settings: 'FILL' 1;
  }
}

@keyframes fillIconOut {
  from {
    font-variation-settings: 'FILL' 1;
  }

  to {
    font-variation-settings: 'FILL' 0;
  }
}
