@import 'theme.scss';

// Imports

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/font_montserrat.ttf');
}

@font-face {
  font-family: 'material-outlined';
  src: url('../assets/fonts/icons_material_outlined.ttf');
  font-weight: normal;
  font-style: normal;
}

// General

body {
  padding: 0;
  margin: 0;
  height: 100%;

  background: $surface;
  color: $neutral-inverse;

  font-family: 'Montserrat', serif;
  transition: background-color 0.1s ease-in-out;

  ::selection {
    color: $white;
    background: $primary;
  }

  a {
    color: $secondary;
  }

  button {
    outline: none;
  }
}

// Typography

h1 {
  font-weight: 500;
  font-size: 32px;
}

h2 {
  font-weight: 400;
  font-size: 24px;

  &.title {
    padding-left: 4px;
  }
}

h3 {
  font-weight: 400;
  font-size: 20px;
}

h4 {
  font-weight: 300;
  font-size: 16px;
}

h1, h2, h3, h4 {
  transition: color 0.1s ease-in-out;
}

// Containers

.surface-container {
  padding: 0 16px 16px 16px;
  border-radius: 8px;
  background-color: $surface-container;
  transition: background-color 0.1s ease-in-out;
}

.column-container {
  display: flex;
  flex-direction: column;

  &.gap-small {
    gap: 8px;
  }

  &.gap {
    gap: 16px;
  }
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.gap-small {
    gap: 8px;
  }

  &.gap {
    gap: 16px;
  }

  &.space-between {
    justify-content: space-between;
    align-items: center;
  }
}

// Badge

.badge {
  padding: 4px 8px;
  border-radius: 8px;

  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;

  color: $surface-container;

  &.primary {
    background-color: $primary;
  }

  &.tertiary {
    background-color: $tertiary;
  }
}
