@import 'theme.scss';

// General

body {
  margin: 0;
  height: 100%;

  background: $background;

  font-family: 'Montserrat', serif;

  &.body {
    padding: 0;
    margin: 0;
  }

  ::selection {
    color: $white;
    background: $primary;
  }
}

// Fonts

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/font_montserrat.ttf');
}

// Icons

@font-face {
  font-family: 'material-outlined';
  src: url('../assets/icons_material_outlined.ttf');
  font-weight: normal;
  font-style: normal;
}
