@import 'theme.scss';

.table-pagination {
  border-top: 1px solid $surface-container;
  padding: 8px 8px 0 10px;
  margin-top: 8px;

  span {
    font-size: 12px;

    &.total {
      padding: 8px 12px;
      margin-right: 4px;
      border-radius: 8px;

      background-color: color-mix(in srgb, $primary 5%, transparent);
      color: $primary;
    }
  }
}
