@import 'theme.scss';

.top-bar-wrapper {
  height: 92px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px 8px 16px;

  border-bottom: 1px solid color-mix(in srgb, $primary-container 20%, transparent);

  h1 {
    color: $primary;

    a {
      text-decoration: none;

      &.active, &:visited {
        color: $primary;
      }
    }
  }

  .action-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    gap: 8px;
  }
}
