@import 'theme.scss';

.top-bar-wrapper {
  height: 92px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  padding: 0 32px 8px 32px;

  border-bottom: 1px solid color-mix(in srgb, $primary-container 20%, transparent);

  h1 {
    color: $primary;
  }

  .action-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    gap: 8px;
  }
}
