<div class="login-wrapper" [style.height]="isMobile ? '90vh' : 'auto'" @fadeInOutAnimation>
  <sec-animated-background *ngIf="!isMobile" style="flex: 60"></sec-animated-background>

  <div class="login-form-wrapper" [style.flex]="isMobile ? 100 : 40">
    <h1>securo</h1>

    <div class="welcome-wrapper">
      <h2 [innerHTML]="'login.welcome' | translate"></h2>
      <span [innerHTML]="'login.gainAccess' | translate "></span>
    </div>

    <div class="form-wrapper">
      <sec-text-input
        [control]="getControl('email')"
        [id]="'email'"
        [name]="'email'"
        [placeholder]="'Email address'"
        [placeholderShrink]="false"
        [icon]="'mail'"
        [maxWidth]="'448px'"
        [style]="'tonal'">
      </sec-text-input>

      <sec-text-input
        [control]="getControl('password')"
        [id]="'password'"
        [type]="'password'"
        [name]="'password'"
        [placeholder]="'Password'"
        [placeholderShrink]="false"
        [password]="true"
        [style]="'tonal'"
        [maxWidth]="'448px'">
      </sec-text-input>

      <sec-button
        (click)="login()"
        [disabled]="form.invalid"
        [text]="'login.logMeIn' | translate"
        [style]="'filled'"
        [maxWidth]="'448px'">
      </sec-button>
    </div>
  </div>
</div>
