@import 'theme.scss';

.login-wrapper {
  display: flex;
  flex-direction: row;

  .login-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    padding: 16px 32px;

    h1 {
      margin-top: -32px;
      margin-bottom: 64px;
      text-align: center;
      font-size: 64px;
    }

    .welcome-wrapper {
      display: flex;
      flex-direction: column;
      color: $primary;

      h2, span {
        text-align: center;
      }
    }

    .form-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
